@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  background-color: #2b2a33;
  font-family: "Montserrat", sans-serif;
}
.set-main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.browser-name {
  display: flex;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 50px;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 62px;
}
.set-ms-3 {
  margin-left: 18px;
}
.set-relative {
  position: relative;
}
.set-relative.set-input-width {
  width: 720px;
}
.set-relative.set-input-width input {
  width: 92%;
  display: block;
  flex-shrink: 0;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 8px;
  height: 52px;
  padding-left: 58px;
  font-size: 15px;
  outline: none;
}
.set-input-width label {
  position: absolute;
  top: 12px;
  left: 12px;
}
.text-center {
  text-align: center;
}
.set-cards-sm {
  margin-top: 42px;
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  justify-content: center;
}
.set-inner-card {
  margin: 18px;
  text-align: center;
  width: 80px;
}
.set-inner-card a {
  text-decoration: none;
}
.set-card-org {
  height: 80px;
  width: 80px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
.set-card-org img {
  border-radius: 5px;
  max-height: 48px;
}
.set-text-codepen {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-top: 8px;
}

@media (max-width: 767px) {
  .set-relative.set-input-width {
    width: 248px;
  }
  .set-cards-sm {
    width: 248px;
  }
  .set-main-container {
    height: auto;
  }
  .set-relative.set-input-width input {
    font-size: 12px;
  }
}
