@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  background-color: #2b2a33;
  font-family: "Montserrat", sans-serif;
}
.set-main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.browser-name {
  color: #fff;
  font-weight: 600;
  margin-bottom: 50px;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
}
.d-flex .browser-name {
  font-size: 40px;
}
.set-ms-3 {
  margin-left: 18px;
}
.set-relative {
  position: relative;
}
.set-relative.set-input-width {
  width: 720px;
}
.set-relative.set-input-width input {
  width: 92%;
  display: block;
  flex-shrink: 0;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 8px;
  height: 52px;
  padding-left: 58px;
  font-size: 15px;
  outline: none;
}
.set-input-width label {
  position: absolute;
  top: 12px;
  left: 12px;
}
.text-center {
  text-align: center;
}
.set-cards-sm {
  margin-top: 42px;
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  justify-content: center;
}
.set-inner-card {
  margin: 18px;
  text-align: center;
  width: 80px;
}
.set-inner-card a {
  text-decoration: none;
}
.set-card-org {
  height: 80px;
  width: 80px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
.set-card-org img {
  border-radius: 5px;
  max-height: 48px;
}
.set-text-codepen {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-top: 8px;
}
.text-light {
  color: #fff;
}
.text-light a {
  color: #6060cf;
  font-size: 12px;
}

.set-cards-img {
  margin: 0 auto;
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  justify-content: center;
}
.set-inner-card-img {
  width: 31%;
  min-width: 202px;
  margin: 8px;
  background-color: #4a4a4a;
  border-radius: 12px;
  overflow: hidden;
}
.set-inner-card-img a {
  text-decoration: none;
  color: #fff;
}
.set-content-card-img {
  padding: 12px;
}
.set-content-card-img span {
  font-size: 12px;
}
.set-content-card-img h3 {
  margin: 10px 0px;
  font-size: 16px;
}
.set-content-card-img .set-btn-read {
  background: #606063;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 8px;
  font-size: 12px;
}
.set-gear-icon {
  text-align: right;
}
.set-gear-icon i {
  color: #fff;
  font-size: 22px;
}
.set-content-card-img h6 {
  font-weight: normal;
}
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4a4a4a;
  min-width: 282px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #555555;
}
hr {
  margin: 4px 0px;
  border: 1px solid #656565;
}
@media (max-width: 767px) {
  .set-relative.set-input-width {
    width: 100%;
  }
  .set-cards-sm {
    width: 92%;
    margin: 0 auto;
    margin-top: 24px;
  }
  .set-main-container {
    height: auto;
  }
  .set-relative.set-input-width input {
    font-size: 12px;
    padding-left: 0px;
    font-size: 14px;
  }
  .set-relative.set-input-width label {
    right: 10px;
    left: auto;
  }
  .set-cards-img {
    flex-direction: column;
    width: 92%;
    margin: 0 auto;
  }
  .set-inner-card-img {
    width: 100%;
    margin: 0px;
    margin-top: 12px;
  }
  .set-firefox-icons {
    height: 52px;
  }
  .browser-name {
    display: flex;
    color: #fff;
    font-size: 30px;
    margin-bottom: 45px;
  }

  .set-main-container {
    width: 92%;
    margin: 0 auto;
  }
  .set-relative.set-input-width input {
    width: 100%;
  }
  .set-inner-card {
    margin: 12px;
  }
}
