/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #2b2a33;
  font-family: "Montserrat", sans-serif;
}
.set-main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.browser-name {
  color: #fff;
  font-weight: 600;
  margin-bottom: 50px;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.d-flex .browser-name {
  font-size: 40px;
}
.set-ms-3 {
  margin-left: 15px;
}
.set-relative {
  position: relative;
}
.set-relative.set-input-width {
  width: 720px;
  margin-left: 25px;
}
.set-relative.set-input-width input {
  width: 92%;
  display: block;
  flex-shrink: 0;
  background-color: #42414d;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 8px;
  height: 52px;
  padding-left: 58px;
  font-size: 15px;
  outline: none;
}

.set-input-width label {
  position: absolute;
  top: 12px;
  left: 12px;
}
.text-center {
  text-align: center;
}
.set-cards-sm {
  margin-top: 42px;
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  justify-content: center;
}
.set-inner-card {
  margin: 18px;
  text-align: center;
  width: 80px;
}
.set-inner-card a {
  text-decoration: none;
}
.set-card-org {
  height: 80px;
  width: 80px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
.set-card-org img {
  border-radius: 5px;
  max-height: 48px;
}
.set-text-codepen {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-top: 8px;
}
.text-light {
  color: #fff;
  margin-left: 25px;
}
.text-light a {
  color: #6060cf;
  font-size: 12px;
}

.set-cards-img {
  margin: 0 auto;
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  justify-content: center;
}
.set-inner-card-img {
  width: 31%;
  min-width: 202px;
  margin: 8px;
  background-color: #4a4a4a;
  border-radius: 12px;
  overflow: hidden;
}
.set-inner-card-img a {
  text-decoration: none;
  color: #fff;
}
.set-content-card-img {
  padding: 12px;
}
.set-content-card-img span {
  font-size: 12px;
}
.set-content-card-img h3 {
  margin: 10px 0px;
  font-size: 16px;
}
.set-content-card-img .set-btn-read {
  background: #606063;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 8px;
  font-size: 12px;
}
.set-gear-icon {
  text-align: right;
}
.set-gear-icon i {
  color: #fff;
  font-size: 22px;
}
.set-content-card-img h6 {
  font-weight: normal;
}
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4a4a4a;
  min-width: 282px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #555555;
}
hr {
  margin: 4px 0px;
  border: 1px solid #656565;
}

@media (max-width: 767px) {
  .set-relative.set-input-width .google-logo {
    float: left;
    margin-right: 10px; /* Adds some space between the logo and the input field */
  }
  .set-relative.set-input-width {
    width: 100%;
  }
  .set-cards-sm {
    width: 92%;
    margin: 0 auto;
    margin-top: 24px;
  }
  .set-main-container {
    height: auto;
  }
  .set-relative.set-input-width input {
    font-size: 12px;
    padding-left: 0px;
    font-size: 14px;
  }
  .set-relative.set-input-width label {
    right: 10px;
    left: auto;
  }
  .set-cards-img {
    flex-direction: column;
    width: 92%;
    margin: 0 auto;
  }
  .set-inner-card-img {
    width: 100%;
    margin: 0px;
    margin-top: 12px;
  }
  .set-firefox-icons {
    height: 52px;
  }
  .browser-name {
    display: flex;
    color: #fff;
    font-size: 30px;
    margin-bottom: 45px;
  }

  .set-main-container {
    width: 92%;
    margin: 0 auto;
  }
  .set-relative.set-input-width input {
    width: 100%;
  }
  .set-inner-card {
    margin: 12px;
  }
}
.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #000000;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #ffffff;
  background: #151515;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.chatbot header span {
  position: absolute;
  right: 50px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
  margin-right: 35px;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: rgba(50, 50, 50, 1);
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #f2f2f2;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
/* .chatbox .outgoing span {
  width: 32px;
  height: 32px;
  color: #2a2a2e;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #aeaeae;
  border-radius: 4px;
  margin: 0 10px 7px 0;
} */
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: RGBA(255, 87, 34, 1);
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
/* chat incoming*/
Copy code .chat.incoming {
  display: flex;
  align-items: center; /* Align vertically center */
}
.message-container {
  display: flex;
  align-items: center; /* Align vertically center */
}

.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex-grow: 1;
  color: black;
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  /* max-height: 180px; */
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
  overflow: hidden;
}

.chat-input span {
  align-self: flex-end;
  color: #030303;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}
/* ChatBot Typing Indicator */
.chatbox .typing p {
  color: #000;
  background: #f2f2f2;
  font-style: italic;
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Additional animation for color transition */
@keyframes colors {
  0% {
    border-top-color: #3498db;
  }
  25% {
    border-top-color: #e74c3c;
  }
  50% {
    border-top-color: #f39c12;
  }
  75% {
    border-top-color: #27ae60;
  }
  100% {
    border-top-color: #3498db;
  }
}
